@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black
}

body {
  @apply h-full bg-black
}


.list-disc {
  list-style-type: disc;
}


:root {
  --width: 100%;
}

.wrapper {
  position: relative;
}

.menu {
  position: fixed;
  width: var(--width);
  height: 100vh;
  left: 0;
  top: 0;
  transition: 0.4s;
  z-index: 9999;
  transition: background-color 250ms ease;
  background-color: white;
}

.menu.active {
  background-color: #0006;
}

.menu-wrapper {
  width: 70%;
  height: 100%;
  transition: transform 250ms ease;
  transform: translateX(-100%);
}

.menu-wrapper.active {
  transform: translateX(0);
}

@keyframes bgAnimate {
  0% {
    background-color: #0006;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #0006;
  }
}

.hamburger {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: red;
  cursor: pointer;
  transition: 0.4s;
}

.hamburger > span {
  position: absolute;
  width: 80%;
  height: 2px;
  left: 10%;
  top: 48%;
  background: yellow;
  transition: 0.4s;
}

.hamburger > span:first-child {
  top: 18%;
}

.hamburger > span:last-child {
  top: 78%;
}

.hamburger.active {
  left: calc(var(--width) + 3px);
}

.hamburger.active > span {
  transform: translateX(120%);
}

.hamburger.active > span:first-child {
  top: 48%;
  transform: rotateZ(-45deg);
}

.hamburger.active > span:last-child {
  top: 48%;
  transform: rotateZ(45deg);
}